<a href="{% url 'factura_crear'%}">Nuevo</a>
<table>
        <tr>
            <th>Editar</th>
            <th>Eliminar</th>
            <th>id</th>
            <th>Nombre</th>
            <th>Emision</th>
            <th>idProducto</th>
            <th>idEmpleado</th>
            <th>Subtotal</th>
            <th>Total</th>
            <th>Metodo</th>
        </tr>
        {% for data in object_list %}
        <tr>
            <td><a href="{% url 'factura_edit' data.idFactura %}">Editar</a></td>
            <td><a href="{% url 'factura_eliminar' data.idFactura %}">Eliminar</a></td>
            <td>{{data.idFactura}}</td>
            <td>{{data.nombreCliente}}</td>
            <td>{{data.FacturaEmision}}</td>
            <td>{{data.idProducto}}</td>
            <td>{{data.idEmpleado}}</td>
            <td>{{data.Subtotal}}</td>
            <td>{{data.Total}}</td>
            <td>{{data.MetodoPago}}</td>
         </tr>
          {% endfor %}
     </table>
