<a href="{% url 'cliente_crear'%}">Nuevo</a>
<table>
        <tr>
            <th>Editar</th>
            <th>Eliminar</th>
            <th>id</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Registro</th>
            <th>Correo</th>
            
        </tr>
        {% for data in object_list %}
        <tr>
            <td><a href="{% url 'cliente_edit' data.idCliente %}">Editar</a></td>
            <td><a href="{% url 'cliente_eliminar' data.idCliente %}">Eliminar</a></td>
            <td>{{data.idCliente}}</td>
            <td>{{data.nombreCliente}}</td>
            <td>{{data.ClienteTelefono}}</td>
            <td>{{data.ClienteRegistro}}</td>
            <td>{{data.ClienteCorreo}}</td>
         </tr>
          {% endfor %}
     </table>
