<a href="{% url 'empleado_crear'%}">Nuevo</a>
<table>
        <tr>
            <th>Editar</th>
            <th>Eliminar</th>
            <th>id</th>
            <th>Nombre</th>
            <th>edad</th>
            <th>Telefono</th>
            <th>Salario</th>
            <th>Contratacion</th>
            <th>Correo</th>
        </tr>
        {% for data in object_list %}
        <tr>
            <td><a href="{% url 'empleado_edit' data.idEmpleado %}">Editar</a></td>
            <td><a href="{% url 'empleado_eliminar' data.idEmpleado %}">Eliminar</a></td>
            <td>{{data.idEmpleado}}</td>
            <td>{{data.EmpleadoNombre}}</td>
            <td>{{data.EmpleadoEdad}}</td>
            <td>{{data.EmpleadoTel}}</td>
            <td>{{data.EmpleadoSalario}}</td>
            <td>{{data.EmpleadoFechaContratacion}}</td>
            <td>{{data.EmpleadoCorreo}}</td>
         </tr>
          {% endfor %}
     </table>
